h1, h2, h3, h4, h5, h6, ul, li{
	margin: 0;
}
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.mobile{
	display: none;
}
.left{
	text-align: left;
}
.center{
	text-align: center;
}
body{
	background: whitesmoke;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	min-height: 100vh;
	text-align: center;
}
img{
	max-width: 100%;
}
p{
	line-height: 1.5em;
	margin: 0 0 30px 0;
}
.wrap{
	padding: 0 7%;
}
.clear :after {
  content: "";
  display: block;
  clear: both;
}
.overlay-text{
	color: whitesmoke;
	font-weight: normal;
	display: inline-block;
	margin-left: 15%;
  	line-height: normal;
  	text-align: center;
  	vertical-align: middle;
  	width: 70%;
}
.overlay-category{
	color: white;
	font-size: 0.875em;
	height: 22px;
	line-height: 22px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	width: 75px;
}

/* CATEGORY COLORS */
.sports{background-color: black !important;}
.code{background-color: black !important;}
.politics{background-color: black !important;}
.fitness{background-color: black !important;}
.travel{background-color: midnightblue !important;}

/* SECTIONS */
.main{
	flex: 1;
	padding-bottom: 4em;
	text-align: left;
}
section{
	
}
.section-title{
	border-bottom: 1px solid #CCC;
	color: #04954A;
	padding-bottom: 5px;
}

/* SITE HEADER AND NAV */
.site-header{
	border-bottom: 0px solid #EFC050;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 60px;
	width: 100%;
	z-index: 3;
	overflow: hidden;
	position: fixed;
}
/* Drastically improves scrolling performance thanks to not constantly repainting fixed background */
.site-header::before {
	content: ' ';
	position: fixed; 
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(4,149,74,1.0), rgba(4,149,74,0.65));
	background-size: cover;
	will-change: transform;
	z-index: -1;
	}
.site-logo{
	color: #FFF;
}
.nav{
	float: right;
}
.nav ul{
	display: flex;
}
.nav li{
	list-style: none;
	margin-left: 25px;
}
.nav a{
	color: #FFF;
	font-size: .75em;
	transition: ease-in .125s;
}
.nav a:hover{
	color: #333;
}

/* HOME FEATURED */
.home-featured{
	background-position: center;
	background-size: cover;
	border-bottom: 1px solid #FFF;
	height: 100vh;
	line-height: 100vh;
	width: 100%;
}
.home-featured h1{
	font-size: 3.5em;
	font-weight: 300;
}
.home-featured a{
	display: block;
}

/* HOME SECONDARY */
.home-secondary{
	align-items: center;
	display: flex;
}
.home-secondary-article{
	background-position: top;
	background-size: cover;
	height: 35vh;
	line-height: 35vh;
	position: relative;
	width: 33.3333333%;
}
.home-secondary-article:nth-child(2){
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
.home-secondary-article h1{
	font-size: 1.5em;
	font-weight: 300;
}
.home-secondary-article a{
	display: block;
}


/* HOME WELCOME */
.home-welcome{
	border-bottom: 1px solid #CCC;
	padding-bottom: 2em;
	padding-top: 2em;
}
.home-welcome p{
	color: #666;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center
}
.home-welcome p:first-child{
	color: #04954A;
	font-size: 4em;
	font-weight: bold;
}

/* HOME SECTIONS */
.home-sections{
	align-items: center;
	display: flex;
	padding: 0 0 1em;
}
.home-sections button{
	background: steelblue;
	border-top: none;
	color: white;
	cursor: pointer;
	padding: 20px 0;
	width: 20%;
}
.home-sections button:hover{
	background: midnightblue;
}

/* HOME LISTING */
.home-listings article{
	clear: both;
	padding-top: 40px;
}
.home-listing img{
	float: left;
	margin-right: 20px;
	width: 40%;
}
.home-listing h1{
	color: #000;
	font-size: 1.75em;
	font-weight: 400;
}
.home-listing-info{
	overflow: auto;
	padding: 10px 0 20px;
}
.home-listing-info time{
	color: #666;
	float: left;
	font-size: 1em;
	line-height: 25px;
	margin-right: 15px;
}
.home-listing-info .overlay-category{
	float: left;
	position: initial;
}
.home-listing p{
	font-size: 1.25em;
	font-weight: 300;
}

/* ARTICLE HEADER */
.article-header{
	border-bottom: 1px solid #CCC;
	clear: both;
	margin: 0 0 2.5em;
	text-align: center;
}
.article-image{
	align-items: center;
	background: url(../images/new-river-overlook-feet.jpg);
	background-position: center;
	background-size: cover;
	/*box-shadow: 0 5px 3px #EEE*/;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: fixed;
	width: 100%;
}
.article-title{
	color: #333;
	font-size: 2.75em;
	font-weight: 400;
	margin: 0.375em 0 1em;
	text-align: center;
}
.article-author-image{
	border: 1px solid #000;
	border-radius: 100%;
	height: 6em;
	margin-top: -3em;
	width: 6em;
}
.article-byline{
	display: block;
	margin-top: -0.75em;
	overflow: auto;
}
.article-author-name, .article-date, .article-category{
	background: #CCC;
	color: #333;
	float:left;
	font-size: 1.25em;
	font-weight: 300;
	padding: 5px 10px;
}
.article-date{
	border-left: 1px solid #333;
}
.article-category{
	color: #FFF;
	cursor: pointer;
	float: right;
}

/* ARTICLE BASICS */
.article{
	margin: 0 0 4em;
}
.parallax{
	background: whitesmoke;
	border-top: 1px solid #000;
	margin-top: calc(100vh + 3em);
	position: relative;
	z-index: 2;
}
.article h2{
	color: #04954A;
	font-size: 2em;
	margin: 1.5em 0 0.75em;
}
.article p{
	line-height: 1.625em;
	margin-bottom: 1.875em;
}
.article p, .article li{
	color: #333;
	font-size: 1.375em;
	font-weight: 300;
}
.article ul{
	margin-bottom: 2em;
	padding-left: 60px;
}
.article li{
	line-height: 1.25em;
	margin-bottom: 0.75em;
}
.article img{
	max-width: 100%;
}

/* RELATED ARTICLES */
.related-articles{
	display: flex;
	justify-content: space-between;
}
.related-article{
	width: 32%;
}
.related-article-image{
	background-position: center;
	background-size: cover;
	height: 225px; 
	margin: 1.5em 0 0.5em;
}
.related-article-title{
	color: #000;
	font-weight: 400;
	text-align: center;
}

/* FOOTER */
.site-footer{
	background: #000;
	color: #FFF;
	padding-bottom: 2em;
	padding-top: 2em;
	text-align: center;
}
.site-footer p{
	margin-bottom: 0;
}

/* TO TOP BUTTON */
.to-top{
	bottom: 15px;
	cursor: pointer;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	position: fixed;
	right: 30px;
	width: 30px;
}


/* MEDIA QUERIES */
@media(max-width: 2000px){
	body{
		font-size: 18px;
	}
}
@media(max-width: 1800px){
	body{
		font-size: 16px;
	}
}
@media(max-width: 1400px){
	body{
		font-size: 14px;
	}
}
@media(max-width: 1050px){
	body{
		font-size: 13px;
	}
}
@media(max-width: 800px){
	.mobile{
		display: block;
	}
	.desktop{
		display: none;
	}
	.wrap{
		padding-left: 5%;
		padding-right: 5%;
	}
	.nav{
		clear: both;
		float: none;
	}
	.nav ul{
		display: block;
		margin-left: -6%;
		padding: 0;
		width: 112%;
	}
	.nav li{
		background: rgba(255,255,255,0.95);
		border-bottom: 1px solid #CCC;
		color: border-bottom 1px solid #000;
		line-height: 40px;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.nav li a{
		color: #04954A;
		display: block;
		height: 100%;
		width: 100%;
	}
	.hamburger{
		cursor: pointer;
		float: right;
		line-height: 60px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.hamburger img{
		margin-top: 8px;
		width: 44px;
	}
	.home-featured h1{
		font-size: 2.75em;
	}
	.home-secondary{
		display: block;
	}
	.home-secondary-article{
		border-bottom: 1px solid #FFF;
		font-size: 1.5em;
		height: 50vh;
		line-height: 50vh;
		width: 100%;
	}
	.home-listing{
		border-bottom: 1px solid #CCC;
	}
	.home-listing h1{
		margin: 0.5em 0 0.375em;
	}
	.home-listing img{
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.article-byline{
		margin-top: 2em;
	}
	.article ul{
		padding-left: 30px;
	}
	.related-articles{
		display: block;
	}
	.related-article{
		margin-bottom: 2em;
		width: 100%;
	}
}
@media(max-width: 600px){
	body{
		font-size: 12px;
	}
}